.block-header {
	display: block;
}

.sidenav {
	display: block;
    height: inherit;
    padding: 0;
    z-index: 1;
    background-color: #434546;
}

.sidenav .h4 {
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	margin-bottom: 1em;
	text-align: center;
	background-color: #17a2b8;
}

.sidenav a {
    text-decoration: none;
    text-align: center;
    font-size: 1.4em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    width: 100%;
    color: #f1f1f1;
    opacity: 0.6;
    display: block;
    transition: 0.6s;
}

.sidenav a:hover {
    opacity: 1;
	background-color: #5e6061;
    color: #dadddd;
}

.table {
    text-align: center;
}