<div class="mx-5 py-5 px-5">
	<form class="form-group" method="POST">
		{% csrf_token %}
		{{form.as_p}}
		{% if errors %}
		<div class="alert alert-danger">
			{{errors}}
		</div>
		{% endif %}
		<br>
		<button class="w-100 btn btn-primary">Add classteacher</button>
	</form>
</div>
