{% load static %}


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<title>School App</title>
</head>
<body>

	<!-- Top Navigation Bar -->
	<nav style="box-shadow: 0 0 1px 3px grey;" class="navbar navbar-expand-lg navbar-dark bg-dark text-light fixed-top">
	  {% if request.user.is_anonymous %}
	  	<a class="navbar-brand" href="{% url 'schoolapp:login' %}">School App</a>
	  {% endif %}
	  	
	  {% if request.user.is_authenticated %}
	  <a class="navbar-brand" href="{% url 'schoolapp:home' %}">School App</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	  	<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    	<div class="ml-auto text-center">Logged in as: {{request.user.username}}</div>
	    	<div class="ml-auto">
				<a class="nav-link btn btn-danger" href="{% url 'schoolapp:logout' %}">Logout</a>
	    	</div>
	    	{% endif %}
	  	</div>
	</nav>

	
	<!-- Header -->
	<header style="margin-top: 60px;">
	{% block header %}

	{% endblock %}
	</header>

	<!-- Content -->
	<div style="" class="container-fluid px-0 mx-0">
		<div style="height: inherit;" class="container-fluid row px-0 mx-0">
		{% if request.user.is_authenticated %}
			<div class="col-xs-12 col-sm-2 container-fluid sidenav">
		{% else %}
			<div class="col-xs-12 col-sm-2 container-fluid">
		{% endif %}
			<input type=button class="w-100 btn btn-secondary bg-dark" value="Back" onClick="javascript:history.go(-1);">
			{% block sidemenu %}

			{% endblock %}
			</div>
			

			<div class="col-xs-12 col-sm-7 container-fluid py-sm-1 mx-sm-0">
			{% block content %}

			{% endblock %}
			</div>


			<div class="col-xs-12 col-sm-3 container-fluid py-sm-1 mx-0">
			{% block rightsidebar %}

			{% endblock %}
			</div>
		</div>
	</div>



	<footer class="mt-2 mb-0">
	{% block footer %}
	{% endblock %}
	</footer>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- <script type="text/javascript" href="{% static 'js/jquey.min.js' "></script>
	<script type="text/javascript" href="{% static 'js/bootstrap.min.js' "></script> -->
</body>
</html>