{% extends 'base.html' %}




{% block header %}
	<div class="h1 py-3 bg-dark text-light text-center">Class Teachers List Header</div>
{% endblock %}




{% block sidemenu %}
<div class="h4">Menu</div>
<a href="{% url 'schoolapp:home' %}">Grades</a>
<a href="{% url 'schoolapp:classteacherslist' %}">Teachers</a>
{% endblock %}




{% block content %}
<div>
	<div class="h4 my-3 py-2 mx-auto text-center bg-info">Class Teacher Details</div>
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<th>ID</th>
			<th>Name</th>
			<th>Grade</th>
		</thead>
		<tbody>
			{% for teacher in classteacherslist %}
			<tr>
				<td>{{teacher.id}}</td>
				<td>{{teacher.name}}</td>
				<td>{{teacher.grade}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}




{% block footer %}
	<div class="h1 mb-0 py-2 bg-dark text-light text-center">Class Teachers List Footer</div>
{% endblock %}