{% extends 'base.html' %}
<!-- {% load static %} -->



{% block header %}
	<div class="block-header h1 py-3 bg-dark text-light text-center">Class Detail Header</div>
{% endblock %}




{% block sidemenu %}
<div class="h4">Menu</div>
<a href="{% url 'schoolapp:home' %}">Grades</a>
<a href="{% url 'schoolapp:classteacherslist' %}">Teachers</a>
{% endblock %}




{% block content %}
<!-- Studentslist Table -->
<div>
	<div class="h4 py-2 text-center bg-info">
		<div class="px-sm-5 py-sm-2 d-inline-block">Class-{{selectedgrade.grade}}</div> 
		<div class="px-sm-5 py-sm-2 d-inline-block">Class Teacher: {{selectedgrade.class_teacher}}</div>
	</div>
	
	<div class="h4 py-2 mx-auto text-center bg-info">
	Students</div>
	<table class="table table-striped table-bordered table-hover text-center">
		<thead>
			<th>S.N.</th>
			<th>Student ID</th>
			<th>Name</th>
			<th>View Student Info</th>
		</thead>
		<tbody>
			{% for student in selectedgrade.students.all %}
			<tr>
				<td>{{forloop.counter}}</td>
				<td>{{student.id}}</td>
				<td>{{student.name}}</td>
				<td><a href="{% url 'schoolapp:studentdetail' selectedgrade.id student.id %}">Click here</a></td>
			</tr>					
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}



{% block rightsidebar %}
<div class="h4 py-2 mx-auto text-center bg-info">
	Subjects</div>
<table class="table table-striped table-bordered">
	<thead>
		<th>Id</th>
		<th>Title</th>
	</thead>
	<tbody>
		{% for subject in selectedgrade.subjects.all %}
		<tr>
			<td>{{subject.id}}</td>
			<td>{{subject.title}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<div class="d-block">
  	<a class="d-block btn btn-secondary my-1" href="{% url 'schoolapp:addstudents' selectedgrade.id %}">Add Students</a>
  	<a class="d-block btn btn-secondary my-1" href="{% url 'schoolapp:addsubjects' selectedgrade.id %}">Add Subjects</a>
</div>
{% endblock %}




{% block footer %}
	<div class="h1 mb-0 py-2 bg-dark text-light text-center">Class Detail Footer</div>
{% endblock %}