{% extends 'base.html' %}




{% block header %}
	<div class="block-header h1 py-3 bg-dark text-light text-center">Home Page</div>
{% endblock %}




{% block sidemenu %}
<div class="h4">Menu</div>
<a href="{% url 'schoolapp:home' %}">Grades</a>
<a href="{% url 'schoolapp:classteacherslist' %}">Teachers</a>
{% endblock %}




{% block content %}
<div class="h4 my-3 py-2 mx-auto text-center bg-info">Select Grade</div>
<nav aria-label="breadcrumb">
  	<ol class="breadcrumb">
  		{% for grade in allgrades %}
		<li class="breadcrumb-item">
			<a href="{% url 'schoolapp:gradedetail' grade.id %}">{{grade.grade}}</a>
		</li>
		{% endfor %}
  	</ol>
</nav>
<div class="container">
</div>
{% endblock %}




{% block rightsidebar %}
<div class="">
  	<a class="d-block btn btn-secondary border border-dark" href="{% url 'schoolapp:addclassteacher' %}">Add Class Teachers</a>
  	<a class="d-block btn btn-secondary border border-dark" href="{% url 'schoolapp:addgrades' %}">Add Grades</a>
</div>
{% endblock %}




{% block footer %}
	<div class="h1 py-2 bg-dark text-light text-center fixed-bottom">Home Footer</div>
{% endblock %}