{% extends 'base.html' %}



{% block header %}
<div class="block-header h1 py-5 text-center bg-info text-light">School Management System</div>
{% endblock %}




{% block sidemenu %}

{% endblock %}




{% block content %}
<div class="justify-content-center py-5 px-0">
	<form class="form-group" method="POST">
		{% csrf_token %}
		{{form.as_p}}
		{% if request.GET.next %}
		<input type="hidden" name="next" value="{{request.GET.next}}">
		{% endif %}
		{% if errors %}
		<div class="alert alert-danger">
			{{errors}}
		</div>
		{% endif %}
		<br>
		<button class="w-100 btn btn-primary">Login</button>
	</form>
</div>
{% endblock %}




{% block footer %}
<div class="h1 py-2 bg-dark text-light text-center">Login Footer</div>
{% endblock %}