<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<style>
		.table {
			text-align: center;
		}
	</style>
</head>
<body>

<div class="h1 py-3 bg-dark text-light text-center">Student Detail Header</div>

<div class="container-fluid">
	<table class="table responsive table-striped table-bordered table-hover js-basic-example dataTable" >
		<div class="h4 py-2 mx-auto text-center bg-info">
		Details</div>
		<thead>
			<th>Student Id</th>
			<th>Student Name</th>
			<th>Grade</th>
			<th>Class Teacher</th>
		</thead>
		<tbody>
			<tr>
				<td>{{student.id}}</td>
				<td>{{student.name}}</td>
				<td>{{student.grade}}</td>
				<td>{{student.grade.class_teacher}}</td>
			</tr>
		</tbody>
	</table>
	
	<table class="table responsive table-striped table-bordered table-hover js-basic-example dataTable" >
		<div class="h4 py-2 mx-auto text-center bg-info">
		Marksheet</div>
		<thead>
			<th>Subject ID</th>
			<th>Subject</th>
			<th>Mark</th>
			<th>Grades</th>
			<th>Grade Point</th>
			<th>Remarks</th>
		</thead>
		<tbody>
			{% for marks in studentmarks.all %}
			<tr>
				<td>{{marks.subject.id}}</td>
				<td>{{marks.subject.title}}</td>
				<td>{{marks.marks}}</td>
				<td>{{marks.gradepoint}}</td>
				<td>{{marks.gradeletter}}</td>
				<td>{{marks.remark}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

</div>

<div class="h4 py-2 mx-auto text-center bg-info">
	Final Score</div>
<table class="table responsive table-striped table-bordered table-hover js-basic-example dataTable" >
	<thead>
		<tr>
			<th>GPA</th>
			<th>Avg. Grade</th>
			<th>Remarks</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{gpa}}</td>
			<td>{{final_gradeletter}}</td>
			<td>{{final_remark}}</td>
		</tr>
	</tbody>
</table>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>
</body>