{% extends 'base.html' %}




{% block header %}
	<div class="block-header h1 py-3 bg-dark text-light text-center">Student Detail Header</div>
{% endblock %}




{% block sidemenu %}
<div class="h4">Menu</div>
<a href="{% url 'schoolapp:home' %}">Grades</a>
<a href="{% url 'schoolapp:classteacherslist' %}">Teachers</a>
{% endblock %}




{% block content %}
<div class="container-fluid">
	<table class="table responsive table-striped table-bordered table-hover">
		<div class="h4 py-2 mx-auto text-center bg-info">
		Details</div>
		<thead>
			<th>Student Id</th>
			<th>Student Name</th>
			<th>Grade</th>
			<th>Class Teacher</th>
		</thead>
		<tbody>
			<tr>
				<td>{{student.id}}</td>
				<td>{{student.name}}</td>
				<td>{{student.grade}}</td>
				<td>{{student.grade.class_teacher}}</td>
			</tr>
		</tbody>
	</table>
	
	<table class="table responsive table-striped table-bordered table-hover">
		<div class="h4 py-2 mx-auto text-center bg-info">
		Marksheet</div>
		<thead>
			<th>Subject ID</th>
			<th>Subject</th>
			<th>Mark</th>
			<th>Grades</th>
			<th>Grade Point</th>
			<th>Remarks</th>
		</thead>
		<tbody>
			{% for marks in studentmarks.all %}
			<tr>
				<td>{{marks.subject.id}}</td>
				<td>{{marks.subject.title}}</td>
				<td>{{marks.marks}}</td>
				<td>{{marks.gradepoint}}</td>
				<td>{{marks.gradeletter}}</td>
				<td>{{marks.remark}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

</div>
{% endblock %}


{% block rightsidebar %}
<div class="h4 py-2 mx-auto text-center bg-info">
	Final Score</div>
<table class="table responsive table-striped table-bordered table-hover js-basic-example dataTable" >
	<thead>
		<tr>
			<th>GPA</th>
			<th>Avg. Grade</th>
			<th>Remarks</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{gpa}}</td>
			<td>{{final_gradeletter}}</td>
			<td>{{final_remark}}</td>
		</tr>
	</tbody>
</table>

<a target="_blank" class='btn btn-success' href="{% url 'schoolapp:generatepdf' %}">Download MarksSheet</a>

{% endblock %}

{% block footer %}
	<div class="h1 mb-0 py-2 bg-dark text-light text-center">Student Detail Footer</div>
{% endblock %}
